$gridHeaderRowSeparatorColor: #2C3F49;
$gridRowSeparatorColor: lighten($gridHeaderRowSeparatorColor, 50%);

div.elm-overlay {
  z-index: 2
}

.world {
  margin-bottom: 40px;

  .world-buttons {
	text-align: right;
	button {
	  margin-left: 10px;

	  i {
		margin-right: 5px;
	  }
	}
  }

  .world-title {
	h2 {
	  margin-top: 8px;
	  margin-bottom: 0;
	  i {
		margin-right: 10px;
	  }
	}
  }

  //.create-backup-confirm {
	//padding: 3px 10px;
  //}
}

